/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.bundle
/.secret_key
/.secret-key
/.envrc
/.vscode
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/shared/certs/*
.DS_Store
/db/.DS_Store
/config/.DS_Store
/storage/*
!/storage/.keep
/lib/json/*
.byebug_history
/.idea/
/cloud_sql_proxy
# rspec failure tracking
.rspec_status
